<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>
        {% block title %}
        PawSwipe
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'imagenes/logoapk.png' %}" type="image/png">
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block extra_css %}{% endblock %} 
    <link href="{% static 'css/barraNavegacion.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'barraNavegacion.html' %}

    {% block content %}
    <!-- Aquí iría el contenido específico de cada página que extienda esta plantilla -->
    {% endblock %}

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/barraNavegacion.js' %}"></script>
    {% block extra_js %}{% endblock %} 
</body>
</html>
