{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/feed.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="contenedor-publicaciones">
    {% for publicacion in publicaciones %}
        {% include "publicacion.html" %}
    {% endfor %}
</div>
<div id="end-element"></div>

<p>En esta página saldran las fotos y videos de los usuarios que sigues</p>
{%endblock%}
{% block extra_js %}
<script src="{% static 'js/feed.js' %}"></script>
{% endblock %}