<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="{% static 'css/formRegistroMascota.css' %}" rel="stylesheet">
</head>
<body>
    <main>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <h2>Registro de usuario</h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_nombreUsuario">Nombre de Usuario:</label>
            {{ form.nombreUsuario }}

            <label for="id_password">Contraseña:</label>
            {{ form.password }}

            <label for="id_nombreReal">Nombre Real:</label>
            {{ form.nombreReal }}

            <label for="id_mail">Correo Electrónico:</label>
            {{ form.mail }}
            <button type="submit">Siguente</button>
        </form>
    </main>
</body>
</html>