<!DOCTYPE html>
<html lang="es">
    {% extends 'barraNavegacion.html' %}
    {% block contenido %}
    {% load static %}
<head>
    <link href="{% static '/css/mensaje.css' %}" rel="stylesheet" >
</head>

<body>
    
    
    <div class="chat-list">
        {% for sala in salas %}
        
        <div class="chat-item">
           
            <button onclick="cargarChat('{{ sala.slug }}', '{{ usuario_actual }}', '{{ el_otro }}')" class="btn btn-primary">{{ sala.nombre }}</button>
            <!-- Aquí puedes agregar más detalles sobre la sala de chat -->

            <hr>
        </div>
        {% empty %}
        <p>No tienes ninguna sala de chat.</p>
        {% endfor %}
    </div>
    <div id="chat-container" style="display: none;">
        <!-- Contenido dinámico del chat irá aquí -->
        <div id="chat-log"
        
        
        
        
        
        
        >
            <div id="cabecera">
                <p>{{ el_otro.nombreReal }}</p>
                <!-- O puedes usar una imagen: -->
                <!-- <img src="ruta/a/tu/imagen.jpg" alt="Bienvenido"> -->
                <hr>
            </div>
            <div id="messages-container">
                {% for mensaje in mensajes %}
                <p><strong>{{ mensaje.emisor.username }}:</strong> {{ mensaje.mensaje }}</p>
                {% endfor %}
            </div>
            <div id="input-container">
                <input id="chat-message-input" type="text" size="100">
                <input id="chat-message-submit" type="button" value="Send">
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/mensaje.js' %}"></script>
    
    {% endblock %}
</body>

</html>